.Grid {
	display: grid;
	grid-gap: 0rem;
	grid-template-columns: 1fr 1fr;
}

.GridItem {
	position: relative;
	height: 60vh;
	font-size: 1.5rem;

	&__background,
	&__overlay {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	&__background {
		z-index: 1;
		background-position: center;
	}

	&__overlay {
		z-index: 2;
		opacity: 1;
		transition: background 350ms ease, color 350ms ease;

		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: column;

		padding: 1rem;
	}

	&:hover {
		.GridItem__overlay {
			background: transparent !important;
			color: var(--color-light);
		}
	}
}
